NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_CROP_CONTRACT=CACA6KZBXCRY53TEZGOHVYGCBJ6T7D5U2ILC6PYPM4OVUXADKH67PPCQ
NEXT_PUBLIC_BOOSTER_CONTRACT=CCLA6DMWBHUHUEFMBSMKYSZDZ723NAMYJZEJKRQ73U6WRSNC6WZOSJCN
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_AI_URL=http://localhost:8000
